<!DOCTYPE html>
<html>
    <head>
        <title>Intro to Pseudoscorpions</title>

        <!--------------------------------->
        <!--------REQUIRED META TAGS------->
        <!--------------------------------->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--------------------------------->
        <!--------BOOTSTRAP STYLING-------->
        <!--------------------------------->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--------------------------------->
    <!--------PERSONAL STYLING--------->
    <!--------------------------------->
        <link rel="stylesheet" href="static/css/style.css">  

    <!--------------------------------->
    <!-------BOOTSWATCH STYLING-------->
    <!--------------------------------->
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/_bootswatch.scss">
        <link rel="stylesheet" href="static/css/_variables.scss">

    <!--------------------------------->
    <!--------GOOGLE FONTS API--------->
    <!--------------------------------->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=IM+Fell+English:ital@0;1&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet"> 
</head>

<!--------------------------------->
<!-------NAVIGATION BAR CODE------->
<!--------------------------------->
<body>
  <button onclick="topFunction()" id="topBtn" title="Go to top"><img src="/static/Images/arrow-up-512.png" width="50"><br>Scroll to Top</button>

  <nav class="navbar navbar-expand-lg navbar-light navbar-bg2">
    <div class="navbar-bg"><a class="navbar-brand" href="index.html">Fossil Pseudoscorpions</a></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end navbar-bg3" id="navbarColor01">
      <ul class="navbar-nav navbar-nav-m">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Past</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="past.html#whyinfo">Why so litte information?</a>
            <a class="dropdown-item" href="past.html#authorsgraph">Authors Over Time</a>
            <a class="dropdown-item" href="past.html#breeds">Pseudoscorpion Breeds</a>
            <a class="dropdown-item" href="past.html#evolution">Evolution</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Present</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="present.html#header">Header</a>
            <a class="dropdown-item" href="present.html#map">Map</a>
            <a class="dropdown-item" href="present.html#images">Images</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Future</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="future.html#adding">Adding to Mesozoic Era</a>
            <a class="dropdown-item" href="future.html#methods">Methods</a>
            <a class="dropdown-item" href="future.html#ctimages">CT Images</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact<img src="/static/Images/contact.svg" width="20" style="margin-left: .5rem;" title="Contact" alt="Contact"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="works_cited.html">Works Cited<img src="/static/Images/130304.png" width="20" style="margin-left: .5rem;margin-bottom: .1rem;" title="Works Cited" alt="Works Cited"></a>
        </li>
      </ul>
    </div>
    </nav>

    <!--------------------------------->
    <!------------BODY CODE------------>
    <!--------------------------------->

    <div class="row mx-md-5 pt-5">
      <div class="col px-md-3">
        <div class="container-fluid">
        <div class=" mt-4">   
        <h1 id="whyinfo">Why is so much unknown about pseudoscorpions?</h1>
        <hr>
        <div class="text-wrap mt-2 summary-text">
          <img src="/static/Images/index_images/aristotle_and_quote.jpg" alt="Aristotle" class="mr-3 img-fluid float-right">
          Aenean sagittis sapien eu commodo dapibus. Nunc viverra lacus vitae condimentum consectetur. Maecenas pretium maximus scelerisque. Nullam tempus erat sit amet malesuada sodales. 
          Fusce purus purus, luctus ut urna id, faucibus facilisis nibh. Cras felis mi, viverra eget elementum et, faucibus eleifend augue. Quisque nec turpis placerat, tristique felis at, euismod erat. Curabitur nec dapibus felis. Fusce semper mi sed rhoncus sodales. Suspendisse potenti. Sed scelerisque elit tellus, non malesuada mi sodales vitae. Nullam tincidunt est id turpis elementum porttitor. Phasellus ut tincidunt ligula, tempus volutpat risus. Aliquam urna lacus, varius sed risus at, sollicitudin cursus nibh. Nam a risus sagittis, vestibulum massa ut, condimentum nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus.
          <br><br>
          Fusce purus purus, luctus ut urna id, faucibus facilisis nibh. Cras felis mi, viverra eget elementum et, faucibus eleifend augue. Quisque nec turpis placerat, tristique felis at, euismod erat. Curabitur nec dapibus felis. Fusce semper mi sed rhoncus sodales. Suspendisse potenti. Sed scelerisque elit tellus, non malesuada mi sodales vitae. Nullam tincidunt est id turpis elementum porttitor. Phasellus ut tincidunt ligula, tempus volutpat risus. Aliquam urna lacus, varius sed risus at, sollicitudin cursus nibh. Nam a risus sagittis, vestibulum massa ut, condimentum nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus.
          <div id="authorsgraph" class="row justify-content-center"> 
            <br><br><br><br>
              <!-- Place Author Graph Here -->
              <img src="/static/Images/Plots/PublicationHistory.png" class="img-fluid">
          </div>  
          <br><br>
            <h1 id="breeds">Pseudoscorpion Taxonomy</h1><hr>
          <div class="row justify-content-center">
            Aenean sagittis sapien eu commodo dapibus. Nunc viverra lacus vitae condimentum consectetur. Maecenas pretium maximus scelerisque. Nullam tempus erat sit amet malesuada sodales. Fusce purus purus, luctus ut urna id, faucibus facilisis nibh. Cras felis mi, viverra eget elementum et, faucibus eleifend augue. Quisque nec turpis placerat, tristique felis at, euismod erat. Curabitur nec dapibus felis. Fusce semper mi sed rhoncus sodales. Suspendisse potenti. Sed scelerisque elit tellus, non malesuada mi sodales vitae. Nullam tincidunt est id turpis elementum porttitor. Phasellus ut tincidunt ligula, tempus volutpat risus. Aliquam urna lacus, varius sed risus at, sollicitudin cursus nibh. Nam a risus sagittis, vestibulum massa ut, condimentum nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus.
          </div>
          <br><br>
          <h1 id="evolution">Evolving Evolutionary Theories</h1><hr>
          <div class="row justify-content-center">
            <img src="/static/Images/index_images/Chamberlin_1931_phylogeny.gif" alt="Chamberlin 1931 Phylogeny">
            <img src="/static/Images/index_images/harvey_1992_phylogeny.png" alt="Harvey 1992 Phylogeny">
          </div>
          <div class="row justify-content-center">
            <img src ="/static/Images/Murienne_etal.2008_Phylogeny.png" alt="Murienne_etal Phylogeny">
          </div>
        </div>  
        </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="static/js/logic.js"></script>
    </body>
</html>